<%= form_with(model: student) do |f| %>
  <div class="flex rounded-xl items-center justify-between gap-4 bg-base-300 p-4 mt-2 shadow-md">
    <div class="flex items-center gap-4">
      <%= render AvatarComponent.new(name: student.name) %>
      <%= render FormFieldComponent.new(form: f, name: :name) do |ffc| %>
        <%= ffc.with_text_field(autofocus: true, autocomplete: 'off') %>
      <% end %>
    </div>
    <div>
      <% if student.persisted? %>
        <%= link_to t(:back), request.referrer, class: 'link link-accent' %>
      <% else %>
        <%= link_to t(:cancel), request.referrer, class: 'link link-accent' %>
      <% end %>
      <%= f.submit t(:save), class: 'link link-secondary' %>
    </div>
  </div>
<% end %>
